body
{
    margin: 0;
}

.header
{
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 1269px;
    min-height: 50px;
}

.header img
{
    float: left;
    width: auto;
    height: 50px;
}

.header-text
{
    background-image: url('../Hackathon_html/images/header\ back2.jpg');
    padding-right: 20px;
    width: 80%;
    height: 50px;
    float: right;
}

.header h1
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: whitesmoke;
    text-align: end;
    margin: 0;
    height: 50px;
}

.navbar
{
    background-color: #555;
    background-position: 0;
    color: #fff;
}

section
{
    min-height: 400px;
    position: relative;
}

.showcase
{
    background-image: url('../Hackathon_html/images/showcase3.png');
    min-height: 8vh;
    background-position: top ;
}

.container
{
    width: 90%;
    margin: auto;
}

.container h5
{
    font-size: xx-large;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    margin: 0;
    /*line-height: 30vh;*/
    vertical-align: middle;
    color: whitesmoke;
}

h2
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    
}

.inputs
{
    float: left;
    width: 30%;
    margin-left: 10%;
    min-height: 300px;

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.DataType 
{
    padding-left: 30%;
}

.DataInputs
{
    padding-left: 30%;
}

.OPT_graph
{
    float: right;
    width: auto;
    margin-right: 5%;

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.ML-tree
{
    width: 70%;
    min-height: 300px;
    margin-left: 10%;
    float: left;

    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.ML-form
{
    float: right;
    margin-right: 10%;
    min-height: 300px;
    padding-top: 10%;
}