<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ca5f2e0c616a444dbdcddd3dbd8a3a57" class="chart-container" style="width:1600px; height:800px;"></div>
    <script>
        var chart_ca5f2e0c616a444dbdcddd3dbd8a3a57 = echarts.init(
            document.getElementById('ca5f2e0c616a444dbdcddd3dbd8a3a57'), 'dark', {renderer: 'canvas'});
        var option_ca5f2e0c616a444dbdcddd3dbd8a3a57 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "clip": true,
            "step": false,
            "data": [
                [
                    "00:00:00",
                    1
                ],
                [
                    "01:00:00",
                    1
                ],
                [
                    "03:30:00",
                    1
                ],
                [
                    "04:30:00",
                    1
                ],
                [
                    "04:45:00",
                    94
                ],
                [
                    "05:00:00",
                    624
                ],
                [
                    "05:15:00",
                    442
                ],
                [
                    "05:30:00",
                    1199
                ],
                [
                    "05:45:00",
                    1562
                ],
                [
                    "06:00:00",
                    1909
                ],
                [
                    "06:15:00",
                    3410
                ],
                [
                    "06:30:00",
                    3336
                ],
                [
                    "06:45:00",
                    4385
                ],
                [
                    "07:00:00",
                    5670
                ],
                [
                    "07:15:00",
                    6338
                ],
                [
                    "07:30:00",
                    7428
                ],
                [
                    "07:45:00",
                    7335
                ],
                [
                    "08:00:00",
                    6831
                ],
                [
                    "08:15:00",
                    5648
                ],
                [
                    "08:30:00",
                    5613
                ],
                [
                    "08:45:00",
                    4567
                ],
                [
                    "09:00:00",
                    4339
                ],
                [
                    "09:15:00",
                    4310
                ],
                [
                    "09:30:00",
                    4029
                ],
                [
                    "09:45:00",
                    3709
                ],
                [
                    "10:00:00",
                    3366
                ],
                [
                    "10:15:00",
                    3524
                ],
                [
                    "10:30:00",
                    3128
                ],
                [
                    "10:45:00",
                    2953
                ],
                [
                    "11:00:00",
                    2701
                ],
                [
                    "11:15:00",
                    2608
                ],
                [
                    "11:30:00",
                    2551
                ],
                [
                    "11:45:00",
                    2282
                ],
                [
                    "12:00:00",
                    2147
                ],
                [
                    "12:15:00",
                    2074
                ],
                [
                    "12:30:00",
                    1783
                ],
                [
                    "12:45:00",
                    1958
                ],
                [
                    "13:00:00",
                    2103
                ],
                [
                    "13:15:00",
                    2140
                ],
                [
                    "13:30:00",
                    2034
                ],
                [
                    "13:45:00",
                    2131
                ],
                [
                    "14:00:00",
                    2071
                ],
                [
                    "14:15:00",
                    2063
                ],
                [
                    "14:30:00",
                    2143
                ],
                [
                    "14:45:00",
                    2148
                ],
                [
                    "15:00:00",
                    2297
                ],
                [
                    "15:15:00",
                    2590
                ],
                [
                    "15:30:00",
                    2526
                ],
                [
                    "15:45:00",
                    2598
                ],
                [
                    "16:00:00",
                    2828
                ],
                [
                    "16:15:00",
                    3023
                ],
                [
                    "16:30:00",
                    3123
                ],
                [
                    "16:45:00",
                    3528
                ],
                [
                    "17:00:00",
                    4596
                ],
                [
                    "17:15:00",
                    4792
                ],
                [
                    "17:30:00",
                    5210
                ],
                [
                    "17:45:00",
                    5174
                ],
                [
                    "18:00:00",
                    5158
                ],
                [
                    "18:15:00",
                    5011
                ],
                [
                    "18:30:00",
                    4054
                ],
                [
                    "18:45:00",
                    3603
                ],
                [
                    "19:00:00",
                    2968
                ],
                [
                    "19:15:00",
                    2497
                ],
                [
                    "19:30:00",
                    2155
                ],
                [
                    "19:45:00",
                    1876
                ],
                [
                    "20:00:00",
                    1808
                ],
                [
                    "20:15:00",
                    1704
                ],
                [
                    "20:30:00",
                    1590
                ],
                [
                    "20:45:00",
                    1539
                ],
                [
                    "21:00:00",
                    1435
                ],
                [
                    "21:15:00",
                    986
                ],
                [
                    "21:30:00",
                    730
                ],
                [
                    "21:45:00",
                    560
                ],
                [
                    "22:00:00",
                    149
                ],
                [
                    "22:15:00",
                    15
                ],
                [
                    "23:00:00",
                    1
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 3,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "markArea": {
                "silent": false,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "data": [
                    [
                        {
                            "name": "AM Peak PHF: 0.94",
                            "xAxis": "07:15:00",
                            "yAxis": 0,
                            "itemStyle": {
                                "color": "yellow",
                                "opacity": 0.3
                            }
                        },
                        {
                            "xAxis": "08:15:00",
                            "yAxis": "7428"
                        }
                    ],
                    [
                        {
                            "name": "PM Peak PHF: 0.986",
                            "xAxis": "17:30:00",
                            "yAxis": 0,
                            "itemStyle": {
                                "color": "yellow",
                                "opacity": 0.3
                            }
                        },
                        {
                            "xAxis": "18:30:00",
                            "yAxis": "5210"
                        }
                    ]
                ]
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "00:00:00",
                "01:00:00",
                "03:30:00",
                "04:30:00",
                "04:45:00",
                "05:00:00",
                "05:15:00",
                "05:30:00",
                "05:45:00",
                "06:00:00",
                "06:15:00",
                "06:30:00",
                "06:45:00",
                "07:00:00",
                "07:15:00",
                "07:30:00",
                "07:45:00",
                "08:00:00",
                "08:15:00",
                "08:30:00",
                "08:45:00",
                "09:00:00",
                "09:15:00",
                "09:30:00",
                "09:45:00",
                "10:00:00",
                "10:15:00",
                "10:30:00",
                "10:45:00",
                "11:00:00",
                "11:15:00",
                "11:30:00",
                "11:45:00",
                "12:00:00",
                "12:15:00",
                "12:30:00",
                "12:45:00",
                "13:00:00",
                "13:15:00",
                "13:30:00",
                "13:45:00",
                "14:00:00",
                "14:15:00",
                "14:30:00",
                "14:45:00",
                "15:00:00",
                "15:15:00",
                "15:30:00",
                "15:45:00",
                "16:00:00",
                "16:15:00",
                "16:30:00",
                "16:45:00",
                "17:00:00",
                "17:15:00",
                "17:30:00",
                "17:45:00",
                "18:00:00",
                "18:15:00",
                "18:30:00",
                "18:45:00",
                "19:00:00",
                "19:15:00",
                "19:30:00",
                "19:45:00",
                "20:00:00",
                "20:15:00",
                "20:30:00",
                "20:45:00",
                "21:00:00",
                "21:15:00",
                "21:30:00",
                "21:45:00",
                "22:00:00",
                "22:15:00",
                "23:00:00"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Line 1 Passenger Flow",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ca5f2e0c616a444dbdcddd3dbd8a3a57.setOption(option_ca5f2e0c616a444dbdcddd3dbd8a3a57);
    </script>
</body>
</html>
