<!---
 Created Date: Sunday, August 9th 2020 
 Contact Info: luoxiangyong01@gmail.com 
 Author/Copyright: Mr. Xiangyong Luo 
-->
{% load static %}<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Hopepage</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

</head>

<body>
    {% block content %}
        <h1>This is the base html homepage</h1>

        <p>This is some of the contents</p>

        <ta>
            <li>cool</li>
        </ta>
    {% endblock %}
</body>

</html>


