<!---
 Created Date: Sunday, August 9th 2020 
 Contact Info: luoxiangyong01@gmail.com 
 Author/Copyright: Mr. Xiangyong Luo 
-->

{% extends "base.html" %}

{% block content %}
    <h2>This is a page to upload data and handling data page</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <br>
        <input type="text" name = "texA">
        <br>
        <button type="submit">Upload File</button>
    </form>

    {% if url %}
        <p>This is something inside the context: <a href="{{ url }}">{{ url }}</a></p>
        <!-- <p>This is sth <a href= "{{ htmlstr }}">{{ htmlstr }}</a></p> -->
        <p>This is sth <a href="{{ pyecharts }}">{{ pyecharts }}</a></p>

        {% autoescape off %}{{ pyecharts|safe }}{% endautoescape %}

        {% autoescape off %}{{ barEcharts|safe }}{% endautoescape %}
    {% endif %}

    
{% endblock %}


{% block content_test %}
    {% if selectValues %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label> Choose Your Machine: </label>
            <select name="selection_test" id="selection_test">
                {% for i in selectValues %}
                    <option value={{ i }}> {{ i }} </option>
                {% endfor %}
            </select>
            <br><br> 
            <label>Choose machine operation line: </label>
            <select name="selection" id="selection">
                {% for i in selectValues %}
                    <option value={{ i }}> {{ i }} </option>
                {% endfor %}
            </select>
            <button type="submit">Run Model</button>
        </form>
    {% endif %}

    {% if selectionResult %}
        <h2> This is the select result {{ selectionResult}} </h2>
    {% endif %}
    
    {% if machineLearning %}
        {% autoescape off %}{{ machineLearning|safe }}{% endautoescape %}
    {% endif %}

    {% if ganttChart %}
        {% autoescape off %}{{ ganttChart|safe }}{% endautoescape %}
    {% endif %}
    
{% endblock %}
