body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.word {
    font-size: 28px;
    position: relative;
    align-content: left;
}

.automation{
    position: absolute;
}

.imachination{
    position: absolute;
}

.automation span{
    display: inline-block;
    animation-name: loading1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imachination span{
    display: inline-block;
    animation-name: loading2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
}

.automation span:nth-child(2){
    animation-delay: 0.1s;
}
.automation span:nth-child(3){
    animation-delay: 0.2s;
}
.automation span:nth-child(4){
    animation-delay: 0.4s;
}
.automation span:nth-child(5){
    animation-delay: 0.5s;
}
.automation span:nth-child(6){
    animation-delay: 0.6s;
}
.automation span:nth-child(7){
    animation-delay: 0.7s;
}
.automation span:nth-child(8){
    animation-delay: 0.8s;
}
.automation span:nth-child(9){
    animation-delay: 0.9s;
}
.automation span:nth-child(10){
    animation-delay: 1s;
}

.imachination span:nth-child(2){
    animation-delay: 0.4s;
}
.imachination span:nth-child(3){
    animation-delay: 0.8s;
}
.imachination span:nth-child(4){
    animation-delay: 1.2s;
}
.imachination span:nth-child(5){
    animation-delay: 1.6s;
}
.imachination span:nth-child(6){
    animation-delay: 2s;
}
.imachination span:nth-child(7){
    animation-delay: 2.4s;
}
.imachination span:nth-child(8){
    animation-delay: 2.8s;
}
.imachination span:nth-child(9){
    animation-delay: 3.2s;
}
.imachination span:nth-child(10){
    animation-delay: 3.6s;
}
.imachination span:nth-child(11){
    animation-delay: 4.0s;
}
.imachination span:nth-child(12){
    animation-delay: 4.4s;
}

@keyframes loading1 {
    0% {
        transform: rotateX(0deg);
    }

    50%{
        transform: rotateX(90deg);
        transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
}

/* Rotation 
@keyframes loading1{
    0%{
        transform: rotateX(0deg);
        opacity: 100;
    }
    12.5%{
        transform: rotateX(0deg);
        opacity:100;
    }
    25%{
        transform: rotateX(0deg);
        opacity:100;
    }
    37.5%{
        transform: rotateX(0deg);
        opacity: 100;
    }
    50%{
        transform: rotateX(90deg);
        opacity: 0;
    }
    62.5%{
        transform: rotateX(90deg);
        opacity: 0;
    }
    75%{
        transform: rotateX(90);
        opacity: 0;
    }
    87.5%{
        transform: rotateX(270);
        opacity: 0;
    }
    100%{
        transform: rotateX(360deg);
        opacity: 100;
    }
}

@keyframes loading2{
    0%{
        transform: rotateX();
        opacity: 0;
    }
    12.5%{
        transform: rotateX();
        opacity: 0;
    }
    25%{
        transform: rotateX();
        opacity: 0;
    }
    37.5%{
        transform: rotateX();
        opacity: 0;
    }
    50%{
        transform: rotateX(90deg);
        opacity: 0;
    }
    62.5%{
        transform: rotateX(360deg);
        opacity: 100;
    }
    75%{
        transform: rotateX(360deg);
        opacity: 100;
    }
    87.5%{
        transform: rotateX(450deg);
        opacity: 0;
    }
    100%{
        transform: rotateX(450deg);
        opacity: 0;
    }
    */