@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html
{
    height: 100%;
}

body
{
    margin: 0;
    height: 100%;
}

.header
{
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    min-width: 1269px;
    min-height: 50px;

    height: 110px;
    background-color: #EBECF0;
    position: fixed;
    min-width: 100%;
    overflow: visible;
}

.header-logo
{
    float: left;
}

.header-text
{
    background-image: url('https://www.rockwellautomation.com//content/dam/rockwell-automation/sites/images/backgrounds/backTexture_RARedOrange.svg');
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    min-width: 35%;
    min-height: 50px;
    float: inline;
    margin-left: 325px;

    transform: scaleX(-1);
}

.header h1
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: 'Barlow';
    color: whitesmoke;
    
    padding-right: 10%;
    padding-top: .5%;
    text-align: end;
    margin: 0;

    transform: scaleX(-1);
}

.navbar
{
    background-color: #555;
    background-position: 0;
    color: #fff;
}

.container
{
    width: 90%;
    margin: auto;

    padding-top: 30px;
}

.showcase
{
    /*background-image: url('https://www.rockwellautomation.com//content/dam/rockwell-automation/sites/images/backgrounds/backTexture_RARedOrange.svg');
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    
    margin-left: 0%;
    margin-right: 0%;
    min-height: 100%;

    position: relative top 110px;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: flex-start;
    align-content: flex-start;
}

.showcase:after
{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
   background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}

.showcase:before{
    content:"";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0); backface-visibility: hidden;
    scale:  1.0, 1.0;
      transform: translateZ(0);
    background:#1B2030 url(https://www.rockwellautomation.com//content/dam/rockwell-automation/sites/images/backgrounds/backTexture_RARedOrange.svg) 
    50% 0 no-repeat;
    background-size: cover;
    background-attachment:fixed;
    animation: grow 5s linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index: -2
  }

@keyframes grow
{
    50% { transform: scale(1, 1.2) translateY(-5%)}
}

.showcase-text
{
    font-size: 3.5rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: 'Barlow';
    font-weight: 600;
    font-style: normal;
    margin: 0;
    color: whitesmoke;
    text-align: center;
    
    padding-top: 0%;
    line-height: 80%;
    word-spacing: 20px;

    flex: 0 0 auto;
    width:25%
}

.p
{
   padding-top: 80%; 
}



/*.showcase ul
{
    margin: 0;
    text-align: center;
    list-style: none;
    line-height: 8em;
    padding: 0;
    padding-bottom: 5%;
}
*/
ul
{
    margin: 0;
    text-align: center;
    list-style: none;
    line-height: 8em;
    padding: 0;
    padding-bottom: 5%;
}

.navigation
{
    background-color: #EBECF0;
    padding-top:10%;
}

button 
{
    font-family: 'Barlow', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    min-width: 40%;

    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 16px;
    background-color: #EBECF0;
    
    /*background-image: url('https://www.rockwellautomation.com//content/dam/rockwell-automation/sites/images/backgrounds/backTexture_RARedOrange.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 768px;*/
    

    color:#61677C;
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

button:hover
{
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active
{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}