{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- add icon link -->
        <!--<link rel = "icon" href ="images/head icon.jpg" 
        type = "image/x-icon"> -->
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.rockwellautomation.com/etc.clientlibs/rockwell-aem-base/clientlibs/clientlib-base/resources/favicons/favicon-16x16.png">
    
        <!--CSS Style-->
        <title>24ToCode Welcome Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/WelcomePage_style.css' %}"> 
        
        <!--Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="container">
                <div class="header-logo">
                    <a href="{% url 'viewHomepage' %}"><img src="{% static 'images/Rockwell logo_cropped.jpg' %}" alt="logo" height="50px" width="auto" /></a>
                </div>

                <div class="header-text">
                    <h1>24ToCode 2020</h1>
                </div>              
            </div>
        </header>

        <section class="showcase">
            <div class="showcase-text">
                <div class="p">
                    <p>ROCKWELL </p>
                    <p>
                        <span class ="word automation"> IMACHINATION...</span>
                        <!--<span class ="word imachination"> IMACHINATION...</span>-->
                    </p>
                </div>
            </div>    
        </section>
        
        <div class="navigation">
            <ul>
                <li>
                   <button class="red" type="button"><i class="icon ion-md-lock"></i> ABOUT</button>
                </li>
                <li>
                    {% block animation %}
                        <p>Animation page display </p>
                    {% endblock animation %}
                    {% comment %} <a href="{% url 'viewAnimation' %}"><button class="red" type="button"><i class="icon ion-md-lock"></i> ANIMATION</button></a> {% endcomment %}
                </li>
                <li>
                    <a href="{% url 'viewComputation' %}"><button class="red" type="button"><i class="icon ion-md-lock"></i> COMPUTATION</button></a>
                </li>
            </ul>
        </div>

    </body>
</html>